html, body {
    background-color: #F1FAEE;
}

.element-background-color {
    background: #1D3557 !important;
}

.logo-font {
    font-family: 'Seaweed Script', cursive;
    color: #E63946 !important;
    text-shadow: -1px 1px #A8DADC;
    padding-bottom: 12px;
}

h1.stylized-text {
    font-family: 'Fjalla One', sans-serif;
    color: #E63946 !important;
    text-shadow: -1px 1px #1D3557;
    font-weight: bold;
    margin: 0 !important;
}

a.stylized-text {
    font-family: 'Fjalla One', sans-serif;
    color: #E63946 !important;
    text-shadow: -1px 1px #A8DADC;
    font-weight: bold;
}

.custom-button {
    background-color: #1D3557;
    width: 250px;
}

.custom-footer {
    position: absolute;
    margin: auto !important;
    width: 100%;
    height: 24px;
    bottom: 0;
    background-color: transparent;
}

.icon-button {
    font-size: 30px;
    color: #1D3557;
    text-decoration: none;
    height: 100%;
    line-height: 100%;
    white-space: nowrap;
}

#output {
    height: 64px;
}